# Example Subscales

-----

The example subscales in this notebook stem from a german questionnaire on Physic's Teachers Pedagogicaln Content Knowledge.

## Load Data

In [1]:
import qutools.data as qtdata

from qutools.data.subscales import compare_n_subscale_allocations

In [2]:
quconfig = qtdata.QuConfig.from_yaml("quconfigs/physics-pck.yaml")

dimension_names_en = ["Reproduce", "Apply", "Create", "Analyze", "Evaluate", "Teaching Situation"]
dimension_names_de = ["Reproduzieren", "Anwenden", "Kreieren", "Analysieren", "Evaluieren", "Unterrichtssituation"]

def process_subscales(qusub: qtdata.QuSubscales) -> qtdata.QuSubscales:
    qusub = qusub.combine_subscales(["Erinnern", "Verstehen"], "Reproduzieren")
    qusub = qusub.drop_subscales(["Fachwissen", "Beispiel"])
    for de, en in zip(dimension_names_de, dimension_names_en):
        qusub = qusub.rename_subscale(de, en)
    return qusub

Warning: The `na_aliases` are not specified in the config-yaml under the "metadata" primary key. Defaulting to
[99, '99', '', '-', '--', 'NA', 'Na', 'na', 'Null', 'null', ' ', 'nan', 'NaN', 'Nan', 'NAN', nan].

## Different Raters

In [ ]:
qusubs = []
nums = []
for i in range(1, 4):
    qusubs.append(qtdata.QuSubscales(
        quconfig=quconfig,
        df_cat=f"<NOT IN THIS REPO>/subscale-allocations-rater{i}.xlsx",
    ))

In [12]:
qusubs_dict = {f"rater{i+1}": process_subscales(qusub) for i, qusub in enumerate(qusubs)}
compare_n_subscale_allocations(qusubs=qusubs_dict).transpose().round(3)

,Reproduce,Apply,Analyze,Evaluate,Create,Teaching Situation
rater1 vs rater2,0.841,0.625,0.769,0.625,0.71,0.777
rater1 vs rater3,0.834,0.557,0.526,0.710,1.00,0.847
rater2 vs rater3,0.834,0.595,0.622,0.419,0.71,0.626

## Consensus

In [ ]:
qusub = qtdata.QuSubscales(
    quconfig=quconfig,
    df_cat=f"<NOT IN THIS REPO>/subscale-allocations-consensus.xlsx",
)
qusub = process_subscales(qusub)

In [6]:
qusub.get_taskcounts(as_dataframe=True)

           Reproduce  Apply  Analyze  Evaluate  Create  Teaching Situation
taskcount       12.0    5.0     10.0       4.0     5.0                12.0

In [7]:
qusub.get_max_scores(as_dataframe=True)

           Reproduce  Apply  Analyze  Evaluate  Create  Teaching Situation
max_score       23.0    8.0     13.0       5.0     9.0                16.0